@model ToDoApp.Data.Tarefa

<h2>Editar Tarefa </h2>

<form asp-action="Edit" method="post">
    <div class="row">
        <div class="col-12 mb-2">
            <label asp-for="NoTarefa" class="form-label"></label>
            <input asp-for="NoTarefa" class="form-control" />
            <span asp-validation-for="NoTarefa" class="text-danger"></span>
        </div>
        <div class="col-12 mb-2">
            <label asp-for="NoDescricao" class="form-label"></label>
            <textarea asp-for="NoDescricao" class="form-control"></textarea>
            <span asp-validation-for="NoDescricao" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-2">
            <label asp-for="DtEvento" class="form-label"></label>
            <input asp-for="DtEvento" class="form-control" type="date" />
            <span asp-validation-for="DtEvento" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-2">
            <label asp-for="DtPrevisaoFinalizacao" class="form-label"></label>
            <input asp-for="DtPrevisaoFinalizacao" class="form-control" type="date" />
            <span asp-validation-for="DtPrevisaoFinalizacao" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-2 d-flex align-items-center">
            <div class="form-check">
                <input asp-for="StConcluida" class="form-check-input" />
                <label asp-for="StConcluida" class="form-check-label"></label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Salvar Edição</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
